<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Stone</title>
</head>
<body>
    <!--Parte header + widgets superiores do app da stone-->
    <header>
        <img src="{{ url_for('static', filename='images/appTop.jpg') }}" alt="">
    </header>

    <!--Parte a ser implementada-->
    <section class="widget">
        <p>Suas vendas</p>
        <figure class="grafico">
            <img src="{{ url_for('static', filename='images/GraficoSemanal.png') }}" alt="">
        </figure>

        <button type="button" id="open_popup">
            <img src="{{ url_for('static', filename='images/coins-cash-svgrepo-com.svg') }}" alt="">
            <section>
                <h1>Quer aumentar suas vendas?</h1>
                <p>Ative a geração de cupons e aumente suas vendas em periodos estratégicos.</p>
            </section>
            <p class="link" id="linkid">
                Ativar
            </p>
        </button>
    </section>

    <div id="popup" class="popup">
        <div class="popup-content">
            <span id="close_popup" class="close">&times;</span>
            <h2 class="title_fid">Programa de Fidelidade</h2>
            <p class="desc_fid">Enviamos {{numCupons}} cupons para você!</p>
            <p class="desc_fid"> Um de seus clientes recebeu o seguinte cupom:</p>
            <p class="cupom">{{CupomText}}</p>
            <p class="ativado">Ativado!</p>
        </div>
    </div>

    <!--Parte inferior do app da stone-->
    <footer>
        <img src="{{ url_for('static', filename='images/appBottom.jpg') }}" alt="">
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>